body.LandingPage {
  background: rgb(9, 9, 121);
  background: linear-gradient(32deg, rgba(9, 9, 121, 1) 0%, rgba(51, 137, 200, 1) 43%, rgba(0, 212, 255, 1) 100%);
}

.LandingPage {
  padding-top: 32px;
  max-width: 1024px;
  margin: 0 auto;
}

.LandingPage h2 {
  color: white;
  font-size: 50px;
  font-family: 'LandingPageFont';
}

.LandingPage__description {
  color: white;
  font-size: 20px;
}

.LandingPage__alpha {
  color: white;
  text-align: center;
  font-size: 16px;
}

.LandingPage__img-wrapper {
  text-align: center;
}

.LandingPage__img {
  width: 100%;
  max-width: 400px;
}

@font-face {
  font-family: "LandingPageFont";
  src: url('./misc/code.otf');
}
