.content {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.DefaultLayout {
  min-height: 100vh;
}

.DefaultLayout__Header {
  padding: 0 16px;
}

.DefaultLayout__Content {
  padding: 0 16px;
}

.DefaultLayout__Footer {
  padding: 24px 16px;
}

.DefaultLayout__Menu {
  line-height: 64px;
}

.DefaultLayout__Footer {
  text-align: center;
}

.DefaultLayout__logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.DefaultLayout__children-wrapper {
  background: white;
  padding: 24px;
  min-height: 280px;
}

.DefaultLayout__Breadcrumb {
  margin: 16px 0;
}
