.UserLayout {
  min-height: 100vh;
}

@media only screen and (max-width: 576px) {
  .UserLayout__main {
    min-width: 100vw;
  }
}

.UserLayout__sider {
  box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.25);
}

.UserLayout__header {
  background: #fff;
  padding: 0;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

.UserLayout__title {
  font-size: 1.25em;
  line-height: 64px;
}

.UserLayout__wrapper {
  padding: 24px 8px;
}

.UserLayout__footer {
  text-align: center;
}

.UserLayout__logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.UserLayout__trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.UserLayout__trigger:hover {
  color: #1890ff;
}

.UserLayout__header-language {
  float: right;
  padding: 0 8px 0 0;
  line-height: 64px;
}

.UserLayout__header-profile {
  float: right;
  padding: 0 12px 0 0;
  line-height: 64px;
}
