.CenterContent {
  margin: 0 auto;
}

.CenterContent--small {
  max-width: 400px;
}

.CenterContent--medium {
  max-width: 576px;
}

.CenterContent--default {
  max-width: 768px;
}

.CenterContent--large {
  max-width: 992px;
}
