.MarkdownEditor__wrapper {
  margin: 16px;
}

.MarkdownEditor .MarkdownEditor__input {
  box-sizing: border-box;
  height: 120px;
}

.MarkdownEditor__preview {
  box-sizing: border-box;
  min-height: 120px;
}

.MarkdownEditor > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.MarkdownEditor > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  overflow: hidden;
}

.MarkdownEditor > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.MarkdownEditor > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.MarkdownEditor > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
