.Markdown table {
  margin-bottom: 1em;
  margin-top: 0;
}

.Markdown table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
  text-align: center;
}

.Markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.Markdown table td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.Markdown blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.Markdown ul,
.Markdown ol {
  padding-left: 2em;
}
